absl-py==0.6.1
astor==0.7.1
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
beautifulsoup4==4.6.3
bs4==0.0.1
cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
html==1.16
html5lib==1.0.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==2.2.3
mock==2.0.0
Models==1.0
nltk==3.4
numpy==1.15.2
pandas==0.23.4
pbr==5.1.1
pkg-resources==0.0.0
protobuf==3.6.1
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
scikit-learn==0.20.0
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
subprocess32==3.5.2
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
webencodings==0.5.1
Werkzeug==0.15.3
